<%= link_to "Logout", organization_logout_path %>

<h2>Edit Existing Event</h2>
<%= form_tag event_path(@event), :method => :put do %>
  <%= label :event, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :event, 'name', :class => 'form-control' %>
  <%= label :event, :datetime, 'Date and Time', :class => 'col-form-label' %>
  <%= datetime_select :event, :datetime, class: 'form-control col-2 d-inline' %>
  <%= label :event, :location, 'Location', :class => 'col-form-label' %>
  <%= text_field :event, 'location', :class => 'form-control' %>
  <%= label :event, :tags, 'Tags', :class => 'col-form-label' %>
  <%= text_field :event, 'tags', :class => 'form-control' %>
  <%= label :event, :description, 'Description', :class => 'col-form-label' %>
  <%= text_field :event, :description, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Event Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', organizer_events_path('organizer_id': Organizer.find_by(id: session[:organizer_id]).id), :class => 'btn btn-secondary' %>
<% end %>
