<!--  This file is app/views/events/index.html.erb -->
<h2>All Events</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="events">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date and Time</th>
      <th>Location</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= event.name %>
        </td>
        <td>
          <%= event.datetime %>
        </td>
        <td>
          <%= event.location %>
        </td>
        <td>
          <%= button_to "Learn More", about_event_path(event), method: :get, :class => 'btn btn-outline-info btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "My Events", student_events_path, method: :get , :class => 'btn btn-outline-primary'%>
<p></p>
<%= button_to "Log Out", root_path, method: :get , :class => 'btn btn-outline-secondary'%>