<!--  app/views/events/show.html.erb -->
<h2>Details about <em><%= @event.name %></em></h2>

<ul id="details">
  <li>
    Date and time:
    <%= @event.datetime %>
  </li>
  <li>
    Location:
    <%= @event.location %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<h3> Add to your list? </h3>
<%= link_to 'Add', add_event_path(@event.id), :class => 'btn btn-outline-success btn-sml' %>
<p> </p>
<%= button_to "Back to All Events", events_path, method: :get , :class => 'btn btn-primary'%>