<h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Welcome!</h1>

<div>
  <h2 class="mt-4 text-center text-2xl font-bold tracking-tight text-gray-900"> Are you a student? Either... </h2>
  <div class="grid grid-cols-2 gap-3">
    <div class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
          <h3 class="mt-2 text-center text-lg font-bold tracking-tight text-gray-900"> Log In: </h3>
          <%= form_tag student_login_path, :class => 'mt-8 space-y-6' do %>
              <div class="-space-y-px rounded-md shadow-sm">
                  <%= label :student, :name, 'Name', :class => 'sr-only' %>
                  <%= text_field :student, :name, :placeholder => "Name", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                  <%= label :student, :uni, 'UNI', :class => 'sr-only' %>
                  <%= text_field :student, :uni, :placeholder => "UNI", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                  <%= label :student, :password, 'Password', :class => 'sr-only' %>
                  <%= text_field :student, :password, :placeholder => "Password", :class => 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
              </div>
              <br/>
              <%= submit_tag 'Student Login', :class => 'group relative flex w-full justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
          <% end %>
      </div>
    </div>
    <div class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
          <h3 class="mt-2 text-center text-lg font-bold tracking-tight text-gray-900"> Or Create an Account: </h3>
          <%= form_tag student_create_account_path, :class => 'mt-8 space-y-6' do %>
              <div class="-space-y-px rounded-md shadow-sm">
                  <%= label :student, :name, 'Name?', :class => 'sr-only' %>
                  <%= text_field :student, :name, :placeholder => "Name", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                  <%= label :student, :uni, 'UNI?', :class => 'sr-only' %>
                  <%= text_field :student, :uni, :placeholder => "UNI", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                  <%= label :student, :password, 'Password?', :class => 'sr-only' %>
                  <%= text_field :student, :password, :placeholder => "Password", :class => 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
              </div>
              <br/>
              <%= submit_tag 'Create Student Account', :class => 'group relative flex w-full justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="mt-4 text-center text-2xl font-bold tracking-tight text-gray-900"> Are you an organization? Either... </h2>
  <div class="grid grid-cols-2 gap-3">
    <div class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
        <h3 class="mt-2 text-center text-lg font-bold tracking-tight text-gray-900"> Log In: </h3>
        <%= form_tag organization_login_path, :class => 'mt-8 space-y-6' do %>
            <div class="-space-y-px rounded-md shadow-sm">
                <%= label :organization, :name, 'Org Name', :class => 'sr-only' %>
                <%= text_field :organization, :name, :placeholder => "Name", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                <%= label :organization, :email, 'Email', :class => 'sr-only' %>
                <%= text_field :organization, :email, :placeholder => "Email", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                <%= label :organization, :password, 'Org Password', :class => 'sr-only' %>
                <%= text_field :organization, :password, :placeholder => "Password", :class => 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <br/>
            <%= submit_tag 'Organization Login', :class => 'group relative flex w-full justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
        <% end %>
      </div>
    </div>
    <div class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
        <h3 class="mt-2 text-center text-lg font-bold tracking-tight text-gray-900"> Or Create an Account: </h3>
        <%= form_tag organization_create_account_path, :class => 'mt-8 space-y-6' do %>
            <div class="-space-y-px rounded-md shadow-sm">
                <%= label :create_organization, :name, 'Org Name Input', :class => 'sr-only' %>
                <%= text_field :create_organization, :name, :placeholder => "Name", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                <%= label :create_organization, :email, 'Org Email Input', :class => 'sr-only' %>
                <%= text_field :create_organization, :email, :placeholder => "Email", :class => 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
                <%= label :create_organization, :password, 'Org Password Input', :class => 'sr-only' %>
                <%= text_field :create_organization, :password, :placeholder => "Password", :class => 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <br/>
            <%= submit_tag 'Create Organizer Account', :class => 'group relative flex w-full justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
